<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wordom</title>

  <!-- vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">


  <script type="text/x-template" id="modal-template">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">

                <span class="close-button" @click="$emit('close')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline fa-times fa-w-10 fa-3x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
                </span>
  
                <div class="modal-header">
                  <slot name="header">
                    Words
                  </slot>
                </div>
  
                <div class="modal-body">
                  <slot name="body">
                    
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
  </script>

</head>

<body>

  <div id="app">

    <div>
      <nav>

        <div>
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/anwarulislam/wordle-helper" data-icon="octicon-star"
            data-show-count="true" aria-label="Star anwarulislam/wordle-helper on GitHub">Star</a>
        </div>

        <div class="logo">
          <h3>
            WORDLE HELPER
          </h3>
        </div>

        <div style="text-align: right;">
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/anwarulislam" data-show-count="true"
            aria-label="Follow @anwarulislam on GitHub">Follow</a>
        </div>

      </nav>
    </div>

    <div class="container">


      <modal v-if="showStep" @close="showStep = null">
        <h3 slot="header">Remaining Words after Step {{+showStep + 1}} - {{remainingWords[showStep].length}}</h3>

        <div slot="body">
          <div class="word-list">
            <template v-for="(word, wordIndex) in remainingWords[showStep]">
              <div class="word">{{ word }}</div>
            </template>
          </div>
        </div>
      </modal>


      <div class="board">
        <template v-for="(word, wordIndex) in boardState">

          <div class="tile-row" v-if="word">
            <div class="tile" v-for="(letter, letterIndex) in splitWord(word)"
              :class="evaluations[wordIndex][letterIndex]" @click="setEvaluation(wordIndex, letterIndex)">
              {{ letter }}
            </div>

            <a class="f-btn show-btn" v-if="currentIndex > wordIndex" @click="showRemainingWords(wordIndex);">Show</a>
            <a class="f-btn" v-if="currentIndex == wordIndex" @click="filterWords()">Next</a>
          </div>

          <!-- empty word -->
          <div class="tile-row" v-if="!word">
            <div class="tile" v-for="(letter, letterIndex) in [null, null, null, null, null]"
              :class="evaluations[wordIndex][letterIndex]" @click="setEvaluation(wordIndex, letterIndex)">
              {{ letter }}
            </div>
          </div>
          <!-- end empty word -->

        </template>
      </div>


    </div>


    <div class="container">
      <div id="keyboard">
        <div class="row" v-for="(row, rowIndex) in keyboard">
          <template v-if="rowIndex == 1">
            <div class="spacer half"></div>
          </template>

          <button @click="pressKey(key)" v-for="(key, keyIndex) in row"
            :class="{'one-and-a-half': rowIndex == 2 && (keyIndex == 0 || keyIndex == row.length - 1)}">
            {{ key }}
          </button>

          <template v-if="rowIndex == 1">
            <div class="spacer half"></div>
          </template>

        </div>
      </div>
    </div>


  </div>


  <script src="./words.js"></script>
  <script src="./proto.js"></script>
  <script src="./main.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>