:root {
    /* tile size */
    --tile-size: 50px;
    --key-bg: #f0f0f0;
    --key-text-color: #000;
    --nav-height: 48px;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

nav {
    height: var(--nav-height);
    background-color: #333;
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

nav>div {
    flex: 1;
}

.logo {
    flex: 2;
    text-align: center;
}

h3 {
    margin: 0;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    /* only mobile */
    max-width: 500px;
    margin: 0 auto;
    background: #fafafa;
    position: relative;
    width: 100%;
}

.board {
    padding: 25px 0;
}

.tile-row {
    max-width: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, var(--tile-size));
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 8px;
    margin-bottom: 4px;
    position: relative;
}

.f-btn {
    position: absolute;
    right: 20px;
    font-size: 12px !important;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
    min-width: 45px;
}

.show-btn {
    text-decoration: none;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.absent {
    background: rgb(75, 72, 72);
    color: white;
    /* border-color: white; */
}

.correct {
    background: #05ad05;
    color: white;
}

.present {
    background: #ffa500;
    color: white;
}

.word-list {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.word {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 5px;
    border: 1px solid #333;
}



/* MODAL */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
}

.modal-body {
    margin: 20px 0;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



/* keyboard */


:host {
    height: var(--keyboard-height);
}

#keyboard {
    margin: 0 8px;
    user-select: none;
    bottom: 0;
    right: 0;
    left: 0;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
    touch-action: manipulation;
}

button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: var(--key-bg);
    color: var(--key-text-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

button:focus {
    outline: none;
}

button.fade {
    transition: background-color 0.1s ease, color 0.1s ease;
}

button:last-of-type {
    margin: 0;
}

.half {
    flex: 0.5;
}

.one {
    flex: 1;
}

.one-and-a-half {
    flex: 1.5;
    font-size: 12px;
}

.two {
    flex: 2;
}

button[data-state='correct'] {
    background-color: var(--key-bg-correct);
    color: var(--key-evaluated-text-color);
}

button[data-state='present'] {
    background-color: var(--key-bg-present);
    color: var(--key-evaluated-text-color);
}

button[data-state='absent'] {
    background-color: var(--key-bg-absent);
    color: var(--key-evaluated-text-color);
}